[submodule "repo/libs/external/.tmux"]
	path = repo/libs/external/.tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule "repo/libs/external/tmux"]
	path = repo/libs/external/tmux
	url = https://github.com/tmux/tmux.git
[submodule "repo/libs/external/claude-official-skills"]
	path = repo/libs/external/claude-official-skills
	url = https://github.com/anthropics/skills.git
