[submodule "repos/.tmux"]
	path = assets/repos/.tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule "repos/tmux"]
	path = assets/repos/tmux
	url = https://github.com/tmux/tmux.git
[submodule "repos/claude-official-skills"]
	path = assets/repos/claude-official-skills
	url = https://github.com/anthropics/skills.git
